@keyframes hero_background {
    0% {
        filter: drop-shadow(0 0 0 transparent);
    }

    50% {
        filter: drop-shadow(0 0 20px var(--theme-color-transparent));
    }

    100% {
        filter: drop-shadow(0 0 0 transparent);
    }
}

@keyframes preloader {
    0% {
        opacity: 0.1;
        transform: scale(1);
        background: #ffffff;
    }

    40% {
        opacity: 1;
        transform: scale(1.1);
        background: var(--theme-color);
    }

    100% {
        opacity: 0.1;
        transform: scale(1);
        background: #ffffff;
    }
}

@keyframes popout {
    0% {
        transform: scale(0) translateY(50%);
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    80% {
        transform: scale(1.1) translateY(50%);
        opacity: 1;
    }

    100% {
        transform: scale(1) translateY(50%);
        opacity: 1;
    }
}