.features {
    margin-top: 100px;
}

.features_inner {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 36px;
}

.features_inner .feature {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 32px 64px;
}

.features_inner .feature:first-child, .features_inner .feature:nth-child(3) {
    padding-left: 0;
}

.features_inner .feature:nth-child(2), .features_inner .feature:last-child {
    padding-right: 0;
}

.features_inner .feature .icon {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 100%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.features_inner .feature .icon img {
    width: 26px;
    height: auto;
}

.features_inner .feature .description {
    text-align: left;
}

.features_inner .feature .description h3 {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 12px;
}

.features_inner .feature .description p {
    font-size: 15px;
}